<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Workload : Workload Project Management Admin  Bootstrap 5 Template">
	<meta property="og:title" content="Workload : Workload Project Management Admin  Bootstrap 5 Template">
	<meta property="og:description" content="Workload : Workload Project Management Admin  Bootstrap 5 Template">
	<meta property="og:image" content="https:/workload.dexignlab.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Workload Project Management</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="vh-100 p-0">
    <div class="authincation h-100 p-0">
        <form action="/user-details/<%= findUserData.id %>?_method=PUT" method="post" class="container-fluid p-0">
        <div class="personal-details container-fluid p-0 h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-12 h-100">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="/"><img src="images/logo.png" alt=""><img src="images/Taskwud.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Add Personal Details</h4>
                                    <div class="row justify-content-center mt-4">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>About</strong></label>
                                            <textarea type="text" rows="6" name="about" class="form-control h-75"><%= findUserData.about %></textarea>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>CNIC</strong></label>
                                            <input type="text" name="CNIC" class="form-control" value="<%= findUserData.CNIC %>" placeholder="Enter CNIC">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>City</strong></label>
                                            <input type="text" name="city" class="form-control" value="<%= findUserData.city %>" placeholder="Enter City">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>Country</strong></label>
                                            <input type="text" name="country" class="form-control" value="<%= findUserData.country %>" placeholder="Enter Country">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>Gender</strong></label>
                                            <input type="text" name="gender" class="form-control" placeholder="Enter Gender" value="<%= findUserData.gender %>">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="mb-0 col-5">
                                            <label class="mb-1"><strong>Contact No.</strong></label>
                                            <input type="text" name="contact" class="form-control" placeholder="Enter Contact" value="<%= findUserData.contact %>">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-4">
                                        <div class="col-4">

                                        </div>
                                        <div class="text-center col-1">
                                            <button type="button" onclick="forwardForm();" class="btn btn-primary btn-block">Next</button>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="professional-details container-fluid h-100 p-0">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-12 h-100">
                    <div class="authincation-content h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-4">
										<a href="/"><img src="images/logo.png" alt=""><img src="images/Taskwud.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Add Professional Details</h4>
                                        <div class="row justify-content-center mt-4">
                                            <div class="col-5">
                                                <label class="mb-1"><strong>Job Name</strong></label>
                                                <input type="text" name="jobName" class="form-control" placeholder="Enter Job Name" value="<%= findUserData.jobName %>">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-4">
                                            <div class="col-5">
                                                <label class="mb-1"><strong>Job Experience</strong></label>
                                                <input type="text" name="jobExperience" class="form-control" placeholder="Enter your Job Experience" value="<%= findUserData.jobExperience %>">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="mb-0 col-5">
                                                <label class="mb-1"><strong>Skills</strong></label>
                                                <div class="d-flex flex-row">
                                                    <input id="userinput" type="text" class="form-control" placeholder="Enter Skills" onkeyup="showResults(this.value)">
                                                    <button id="addbtn" class="form-control" type="button" onClick="addInput();">+</button>
                                                </div>
                                                <div id="error" class="text-danger p-2">
										
                                                </div>
                                                <div id="formulario" class="d-flex flex-row flex-wrap mt-2">
                                                    <% findUserData.skills.forEach(function(skill){ %>
                                                        <div class='input-group section mt-2' style='width: 120px;margin-right: 8px'><input type='text' class='form-control input' placeholder='Name' value='<%= skill %>'><div style='position: absolute; top: 0; right: 0; paddign-top: -5px'><input class='button' type='button' value='-'></div></div>
                                                    <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-4">
                                            <div class="col-4">

                                            </div>
                                            <div class="text-center col-1">
                                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/dlabnav-init.js"></script>
</body>
</html>