<%- include('partials/header'); -%>

    <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
        <div class="container-fluid">
			<div class="col-xl-12">
				<div class="card bg-progradient manage-project">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-xl-6 col-12">
								<h4 class="fs-24 font-w700 text-white">Manage your Organization in one touch</h4>
							</div>
							<div class="col-xl-6 col-12 text-end">
								<a href="/organization/new" class="btn  bg-white fs-18 btn-rounded"><i class="fas fa-plus-circle"></i> Create Organization</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
				<div class="row">
					<% findOrgs.forEach(function(findOrg){ %>
					<div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-3 overlay-box">
								
								<h3 class="mt-3 mb-1 text-white"><%= findOrg.orgname %></h3>
								<p class="text-white mb-0"><%= findOrg.orgdescription %></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Total Members</span> <strong class="text-muted"><%= findOrg.orgnumber %>	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Email</span> 		<strong class="text-muted"><%= findOrg.orgemail %>	</strong></li>
							</ul>
                            <div class="card-footer border-0 mt-0">								
							<a href="/organization/<%= findOrg.id %>/view"><button class="btn btn-primary btn-lg btn-block">
								<i class="fa fa-bell-o"></i> View						
							</button>	</a>		
                            </div>
						
                        </div>
					
					</div>
					<% }) %>
				
				</div>
		
        </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->
        <%- include('partials/footer'); -%>