<%- include('partials/header'); -%>

    <!--**********************************
            Content body start
        ***********************************-->
     
        <div class="content-body">
        <div class="container-fluid">
			<div class="col-xl-12">
				<div class="card bg-progradient manage-project">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-xl-6 col-12">
								<h4 class="fs-24 font-w700 text-white">Manage your Project in one touch</h4>
							</div>
							<div class="col-xl-6 col-12 text-end">
								<a href="/Project/new" class="btn  bg-white fs-18 btn-rounded"><i class="fas fa-plus-circle"></i> Create Project</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
				<div class="row">
					<% findProjects.forEach(function(findProject){ %>
					<a class="col-xl-3 col-lg-12 col-sm-12" href="/project/<%= findProject.id %>">
						
						  <div class="card overflow-hidden">
							<div class="text-center p-3 overlay-box">
								
								<div class="p-0">
									<div class="circle-2"><%= findProject.projectname.charAt(0) %></div>
								</div>
								<p class="text-white mb-0"><%= findProject.orgdescription %></p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-center fs-18 font-w500 mb-3"><strong><%= findProject.projectname %></strong></li>
							</ul>
                          </div>
					    
				    </a>
					<% }) %>
				
				</div>
		
        </div>
    	</div>

		
    <!--**********************************
            Content body end
        ***********************************-->
        <%- include('partials/footer'); -%>