<%- include('partials/header'); -%>

    <!--**********************************
            Content body start
        ***********************************-->
     
        <div class="content-body">
        <div class="container-fluid">
			<% if (role == "Manager"){ %>
			<div class="col-xl-12">
				<div class="card bg-progradient manage-project">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-xl-6 col-12">
								<h4 class="fs-24 font-w700 text-white">Manage your Organization in one touch</h4>
							</div>
							<div class="col-xl-6 col-12 text-end">
								<a href="/task/new" class="btn  bg-white fs-18 btn-rounded"><i class="fas fa-plus-circle"></i> Create task</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %>

			<div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Tasks</h4>
					</div>
					<div class="card-body">  
						<div class="table-responsive recentOrderTable" style="height: 100vh;">
							<table class="table verticle-middle table-responsive-md">
								<thead>
									<tr>
										<th scope="col">Task Name</th>
										<th scope="col">Start Date</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Date</th>
										<th scope="col">End Time</th>
										<th scope="col">Assigned by</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<% findTasks.forEach(function(findTask){ %>
										<tr>
											<td><%= findTask.taskname %></td>
											<td><%= findTask.startDate %></td>
											<td><%= findTask.startTime %></td>
											<td><%= findTask.endDate %></td>
											<td><%= findTask.endTime %></td>
											<td><%= findTask.createdby.username %></td>
											<% if (findTask.status == "Pending" ){ %>
												<td><span class="badge badge-rounded badge-warning"><%= findTask.status %></span></td>
											<% } else { %>
												<td><span class="badge badge-rounded badge-success"><%= findTask.status %></span></td>
											<% } %> %>
											<% if (role == "Manager"){ %>
											<td>
												<div class="dropdown custom-dropdown mb-0">
													<div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewbox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
													</div>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="/task/<%= findTask.id %>">Edit</a>
														<a class="dropdown-item text-success" href="/task/<%= findTask.id %>/complete">Completed</a>
														<form action="/task/<%= findTask._id %>?_method=DELETE" method="POST">
															<button type="submit" class="dropdown-item text-danger">Delete</button>
														</form>
													</div>
												</div>
											</td>
											<% } %>
										</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		
        </div>
    	</div>
    <!--**********************************
            Content body end
        ***********************************-->
		
		<%- include('partials/footer'); -%>