<%- include('./partials/header'); -%>

		<!--**********************************
            Content body start
        ***********************************-->
		
		<div class="content-body">
			<div class="container-fluid">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header border-0">
							<div>
								<h1 class="fs-20 font-w700">Project</h1>
							</div>
							<div class="dropdown">
								<div class="btn-link" data-bs-toggle="dropdown">
									<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
										<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
										<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
									</svg>
								</div>
							
							
							</div>
						</div>
						<div class="card-body">

							<div class="card-body">
								
								<form method="POST" action="/project/<%= Project._id %>?_method=PUT" method="Post" class="row g-3 d-flex justify-content-center">
									<div class="col-xl-7 col-sm-7 col-md-7 ">
									  <label class="form-label">Project Name</label>
									  <input name="projectname" type="text" class="form-control" placeholder="Name" value="<%= Project.projectname %>" >
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7">
									  <label  class="form-label">Categoy</label>
									  <input name="category" type="text" class="form-control" placeholder="Categoy" value="<%= Project.category%>" >
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7 ">
									  <label  class="form-label">Start Date</label>
									  <input name="startDate" type="date" class="form-control" placeholder="Date" value="<%= Project.startDate %>">
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7 ">
										<label  class="form-label">Start time</label>
										<input name="startTime" type="time" class="form-control" placeholder="Time" value="<%= Project.startTime %>">
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7 ">
										<label  class="form-label">End Date</label>
										<input name=" endDate" type="date" class="form-control" placeholder="Date" value="<%= Project.endDate%>">
									</div>
		
									<div class="col-xl-7 col-sm-7 col-md-7">
										<label  class="form-label">End Time</label>
										<input name=" endTime" type="time" class="form-control" placeholder="Time" value="<%= Project.endTime %>">
									</div>
	
									<div class="col-xl-7 col-sm-7 col-md-7">
										<label  class="form-label">Budget</label>
										<input name="budget" type="number" class="form-control" placeholder="Amount" value="<%= Project.budget %>">
									</div>
		
									<div class="col-xl-7 col-sm-7 col-md-7">
										<label  class="form-label">Remarks</label>
										<input name="description" type="text" class="form-control" placeholder="description" value="<%= Project.description %>">
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7">
										<label class="form-label">Add Users</label>
										<!-- <input id="userinput" type="text" name="users[]" class="form-control mb-3" placeholder="Name" onkeyup="manage(this)"> -->
										<div class="d-flex flex-row">
											<input id="userinput" type="text" name="users[]" class="form-control" placeholder="Name" onkeyup="showResults(this.value)">
											<button id="addbtn" class="form-control" type="button" onClick="addInput();">+</button>
										</div>
										<div id="livesearch" class="p-3 d-none">
											This
										</div>
										<div id="error" class="text-danger p-2">
											
										</div>
										<div id="formulario" class="d-flex flex-row flex-wrap mt-2">
											<% Project.projectteam.forEach(function(obj){ %>
												<div class='input-group section mt-2' style='width: 120px;margin-right: 8px'><input type='text' class='form-control input' placeholder='Name' value='<%= obj %>'><div style='position: absolute; top: 0; right: 0; padding-top: -5px'><input class='button' type='button' value='-'></div></div>
											<% }) %>
										</div>
									</div>
									<div class="col-xl-7 col-sm-7 col-md-7">
									  <button type="submit" class="btn btn-primary">Update</button>
									</div>
								  </form>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
			
        <!--**********************************
            Content body end
        ***********************************-->
		

		<%- include('partials/footer'); -%>